<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" 
	href="css/bootstrap.min.css"
 />
</head>
<body>
	<section class="container">
		<form th:action="@{index}" method="get">
			<label for="psearch">Mot clé :</label>
			<input type="search" id="psearch" name="mc" th:value="${mc}"/>
			<button class="btn btn-primary">Chercher</button>
		</form>
	</section>
	
	<h3>Liste des produits</h3>

	<section class="container">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th><th>Désignation</th><th>Prix</th><th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${listProduits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.description}"></td>
					<td th:text="${p.price}"></td>
					<td th:text="${p.quantity}"></td>
					<td><a th:href="@{ delete( id=${p.id}, page=${pageCourante}, size=${size}, mc=${mc} ) }">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</section>
	
	<nav class="container">
		<ul class="nav nav-pills">
			<li class="nav-item" th:each="p, status:${pages}">
				<a th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'" th:href="@{ index( page=${status.index}, size=${size}, mc=${mc} ) }" th:text="${status.index}"></a>
			</li>
		</ul>
	</nav>
</body>
</html>